@model Blog.Models.Post

<form method="post" asp-action="Detail">
    
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary text-center">Post Details</h2>
            <hr />
        </div>
        <div class="mb-3 text-center">
            <h2 class="text-dark"><b>@Html.DisplayFor(modelItem => Model.Title)</b></h2>
        </div>

        <div class="mb-3">
            @*<p class="form-control">@Html.DisplayFor(modelItem => Model.Description)</p>*@
            <p class="text-center">@Html.DisplayFor(modelItem => Model.Description)</p>
        </div>

        <div class="mb-3 text-center">
            
             <img src="@Html.DisplayFor(modelItem => Model.ImageUrl)" style="width:25rem; height:25rem; overflow:hidden; border-radius:1rem;" />
        </div>
      
        <div class="text-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">Back Home</a>
        </div>
    </div>
</form>




@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
} 